* {
  background-color: rgb(243, 255, 244);
}

.link {
  color: rgb(0, 110, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#site-heading {
  font-family: 'Single Day', sans-serif;
}

.nig {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}