/* Single Day */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background-color: rgb(243, 255, 244);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.homepage {
  text-align: center;
}

.homepage h1 {
  width: 200px;
  height: 40px;
  margin: 100px auto 50px auto;
  font-family: 'Single Day', sans-serif;
  color: black;
}

.homepage a {
  display: block;
  width: 350px;
  height: 40px;
  margin: 10px auto 0px auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(51, 138, 252);
}